/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*==============================================================
header
==============================================================*/
.mv {
  position: relative;
  min-height: 80vh; }
  .mv__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 80vh; }
    @media screen and (min-width: 1600px) {
      .mv__bg {
        width: 300vw; } }
    @media screen and (max-width: 480px) {
      .mv__bg {
        height: 60vh; } }
  .mv .left-skew {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 99, 94, 0.6)), to(rgba(228, 155, 61, 0.6)));
    background: linear-gradient(rgba(237, 99, 94, 0.6), rgba(228, 155, 61, 0.6));
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
    margin-top: -23rem;
    margin-left: -6rem;
    z-index: -1; }
    @media screen and (min-width: 1600px) {
      .mv .left-skew {
        margin-top: -27vw;
        margin-left: -10rem; } }
    @media screen and (max-width: 1200px) {
      .mv .left-skew {
        margin-top: -18rem; } }
    @media screen and (max-width: 992px) {
      .mv .left-skew {
        margin-top: -15rem; } }
    @media screen and (max-width: 768px) {
      .mv .left-skew {
        margin-top: -10rem; } }
    @media screen and (max-width: 480px) {
      .mv .left-skew {
        margin-top: -6rem; } }
  .mv .right-skew {
    background: rgba(237, 99, 94, 0.8);
    z-index: -2;
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
    margin-top: -2rem;
    margin-left: -3rem; }
  .mv .header .flex {
    margin-top: 2rem; }
    @media screen and (max-width: 480px) {
      .mv .header .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .mv .header .flex .app-store {
      display: none; }
      @media screen and (max-width: 480px) {
        .mv .header .flex .app-store {
          display: inline;
          margin-top: .5rem; } }
  .mv__txt {
    color: #fff; }
    @media screen and (max-width: 480px) {
      .mv__txt {
        width: 100%;
        text-align: center; }
        .mv__txt a {
          display: none; } }
    .mv__txt h2 {
      font-size: 3rem;
      margin-top: 30%; }
      @media screen and (max-width: 768px) {
        .mv__txt h2 {
          font-size: 2.5rem; } }
      @media screen and (max-width: 480px) {
        .mv__txt h2 {
          margin-top: 3rem;
          font-size: 2rem; } }
    .mv__txt p {
      margin-top: 2.5rem;
      margin-bottom: 3rem; }
  .mv__img {
    width: 50%;
    margin-top: 5rem; }
    @media screen and (max-width: 480px) {
      .mv__img {
        width: 100%;
        text-align: center; } }
    .mv__img img {
      width: 35rem;
      height: auto; }
      @media screen and (max-width: 768px) {
        .mv__img img {
          width: 100%; } }
      @media screen and (max-width: 480px) {
        .mv__img img {
          width: 20rem; } }
  @media screen and (max-width: 480px) {
    .mv .flex {
      display: block; } }

@media screen and (max-width: 480px) {
  .feature .flex {
    display: block; } }

.feature__img {
  text-align: center;
  width: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media screen and (max-width: 480px) {
    .feature__img {
      width: 100%; } }
  .feature__img img {
    width: 36.4rem;
    height: auto; }
    @media screen and (max-width: 768px) {
      .feature__img img {
        width: 100%; } }
    @media screen and (max-width: 480px) {
      .feature__img img {
        width: 20rem; } }

.feature__txt {
  width: 50%;
  padding-top: 8rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  @media screen and (max-width: 480px) {
    .feature__txt {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .feature__txt {
      padding-top: 0; } }
  .feature__txt--container {
    margin-bottom: 5rem; }
  .feature__txt h2 {
    font-size: 2.5rem;
    color: #3F4C58;
    font-weight: 500;
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 768px) {
      .feature__txt h2 {
        font-size: 2rem; }
        .feature__txt h2 img {
          height: 2rem; } }
    .feature__txt h2 img {
      margin-right: 1rem; }
  .feature__txt p {
    color: #6C6C6C; }

.section-ttl {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .section-ttl {
      font-size: 2rem; } }

.flow {
  padding: 10rem 0;
  background-color: #F89348;
  color: #fff; }
  .flow .section-ttl {
    color: #fff; }
  .flow .flex {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flow__txt {
    margin-top: 5rem;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .flow__txt {
        margin-top: 2rem;
        width: 70%; } }
    .flow__txt--container {
      height: 15rem; }
      @media screen and (max-width: 480px) {
        .flow__txt--container {
          height: 20rem; } }
    .flow__txt h3 {
      font-size: 2rem; }
      @media screen and (max-width: 768px) {
        .flow__txt h3 {
          font-size: 1.8rem; } }
      @media screen and (max-width: 480px) {
        .flow__txt h3 {
          font-size: 1.6rem; } }
      .flow__txt h3 span {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        text-align: center;
        line-height: 4rem;
        border-radius: 50%;
        background-color: #fff;
        color: #3F4C58;
        -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.16);
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.16);
        margin-right: 1rem; }
        .flow__txt h3 span::after {
          content: "";
          width: 1px;
          height: 15rem;
          background-color: #fff;
          display: block;
          margin-left: 2rem; }
          @media screen and (max-width: 480px) {
            .flow__txt h3 span::after {
              height: 20rem; } }
      .flow__txt h3 .last-flow::after {
        display: none; }
    .flow__txt p {
      margin-left: 5rem; }
      @media screen and (max-width: 768px) {
        .flow__txt p br {
          display: none; } }
  .flow__img {
    width: 40%; }
    @media screen and (max-width: 768px) {
      .flow__img {
        width: 30%; } }
    .flow__img img {
      width: 33.4rem;
      height: auto; }
      @media screen and (max-width: 768px) {
        .flow__img img {
          width: 100%; } }

.closing {
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ED635E), to(#E49B3D));
  background: linear-gradient(#ED635E, #E49B3D);
  color: #fff;
  text-align: center; }
  .closing p {
    margin-bottom: 5.5rem; }

.footer__nav {
  padding: 2.5rem 0; }
  .footer__nav li {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.2rem; }
    .footer__nav li a {
      color: #6C6C6C; }
      .footer__nav li a:hover {
        text-decoration: underline; }

.footer__line {
  width: 100%;
  height: 1px;
  background-color: #707070; }

.footer small {
  display: block;
  color: #6C6C6C;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 0; }

.under-mv {
  background-color: #EB9757; }
  .under-mv .header {
    padding-top: 1rem; }
    .under-mv .header .app-store {
      margin-top: .5rem; }
  .under-mv__ttl {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 10rem; }

.company {
  padding: 10rem 0; }
  .company .section-ttl {
    color: #3F4C58; }
  .company__table {
    width: 80rem;
    margin: 0 auto;
    border-top: 1px solid #707070;
    color: #6C6C6C; }
    @media screen and (max-width: 992px) {
      .company__table {
        width: 100%; } }
    .company__table tr {
      border-bottom: 1px solid #707070; }
    .company__table th, .company__table td {
      padding: 1.5rem 0; }
    .company__table th {
      text-align: left;
      padding-left: 3rem;
      font-weight: 400; }
      @media screen and (max-width: 480px) {
        .company__table th {
          padding-left: 1.5rem; } }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 1px; }

html,
body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p,
small,
table,
input,
textarea {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  font-family: "Noto Sans Japanese"; }

input[type="submit"] {
  -webkit-appearance: none; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.wrapper {
  margin: 0 auto;
  padding: 0 15px; }

@media screen and (min-width: 768px) {
  .wrapper {
    width: 750px; } }

@media screen and (min-width: 992px) {
  .wrapper {
    width: 960px; } }

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1170px; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
